@{
    ViewData["Title"] = "Home Page";
}

@*Header to introduce the website*@
<div class="text-center" style="font-family: 'Sans Serif Collection'">
    <h1 class="display-4" style="font-size:60px"><b>A Clay Canvas</b></h1>
    <h2 style="font-size:28px">Exploring Pottery and Ceramics</h2>
</div>
<br />

@*Three boxes on the home page, each with a paragraph containing about information and an image*@
<div class="container">
    <div class="box">
        <h4><b>Wheel Thrown</b></h4>
        <p>Wheel throwing is a pottery technique where clay is shaped and formed on a spinning wheel. 
            Artists use their hands and tools to create bowls, cups, and other vessels by molding the
            spinning clay into various shapes. It's a traditional method that requires skill and practice 
            to master, resulting in unique and functional ceramic pieces.</p>
            <br /><br /><br />
        <img src="\img\wheel.png" style="height:100px"/>
    </div>
    <div class="box">
        <h4><b>Coil Building</b></h4>
        <p>Coil pottery is a technique where long ropes or 'coils' of clay are rolled out and stacked 
            on top of each other to build up the walls of a vessel. Artists use their hands to blend 
            and smooth the coils together, creating a seamless surface. It's an ancient method dating 
            back thousands of years, allowing for creative and organic shapes to be formed. Coil pottery
            offers artists a hands-on approach, resulting in unique and expressive ceramic pieces.</p>
        <img src="\img\coilPot.png" style="height:100px" />
    </div>
    <div class="box">
        <h4><b>Pinch Pot</b></h4>
        <p>Slab pottery is a technique where flat sheets of clay, called slabs, are cut and shaped into 
            various forms. Artists use templates or freehand cutting to create pieces like plates, tiles, 
            or boxes. Slab-built pottery offers versatility in design, allowing for geometric shapes or 
            curved forms to be easily achieved. It's a method favored for its precision and adaptability, 
            offering artists a wide range of creative possibilities in ceramic art</p>
            <br />
        <img src="\img\pinchbowl.png" style="height:100px" />
    </div>
</div>